.logoutButtonContainer {
  position: fixed;
  left: 24px;
  bottom: 24px;
  z-index: 50;
}

.saveButtonContainer {
  position: fixed;
  right: 24px;
  top: 24px;
  z-index: 50;
}

.previewToggle {
  position: fixed;
  top: 24px;
  left: 24px;
  z-index: 50;
}

.loadingScreen {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-black);
  background-color: var(--color-light-grey);
}
