@import "@styles/media.css";

.section {
  width: 100%;
  background: var(--color-lighter-grey);
  padding: 120px 0;
}

.text {
  font-size: var(--font-size-fluid-h2-plus);
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.02em;
  margin: 0;
}

.word {
  color: var(--color-light-lime-green);
  transition: color 100ms ease;
}

.lit {
  color: var(--color-forest-green);
}

@media (--bp-tablet) {
  .section {
    padding: 80px 0;
  }
}

@media (--bp-mobile) {
  .section {
    padding: 68px 0;
  }

  .text {
    line-height: 1.38;
    letter-spacing: -0.02em;
  }
}