NEXT_PUBLIC_SITE_URL=https://pagecraft.me

NEXT_PUBLIC_SUPABASE_URL=xxx
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=xxx
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=xxx

NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=xxx
NEXT_PUBLIC_POSTHOG_HOST=xxx

TEST_EMAIL=xxx
TEST_PASSWORD=xxx
TEST_USERNAME=xxx

NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=xxx
MAPBOX_ACCESS_TOKEN=xxx

SUPABASE_URL=xxx
SUPABASE_SERVICE_ROLE_KEY=xxx
RESEND_API_KEY=xxx
FEEDBACK_TO_EMAIL=calvingomes046@gmail.com
WEBHOOK_SHARED_SECRET=xxx