# env variables and secrets exist across vercel, github and supabase

NEXT_PUBLIC_SITE_URL=https://pagecraft.me

# Supabase public
NEXT_PUBLIC_SUPABASE_URL=xxx
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=xxx
NEXT_PUBLIC_SUPABASE_STORAGE_BUCKET=xxx

# Posthog
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=xxx
NEXT_PUBLIC_POSTHOG_HOST=xxx

# Test user
TEST_EMAIL=xxx
TEST_PASSWORD=xxx
TEST_USERNAME=xxx

# Mapbox
NEXT_PUBLIC_MAPBOX_ACCESS_TOKEN=xxx
MAPBOX_ACCESS_TOKEN=xxx

# supabase server
SUPABASE_URL=xxx
SUPABASE_SERVICE_ROLE_KEY=xxx
FEEDBACK_TO_EMAIL=calvingomes046@gmail.com
WEBHOOK_SHARED_SECRET=xxx

# Resend emails
RESEND_API_KEY=xxx