.wrapper {
  position: sticky;
  top: 12px;

  display: flex;
  justify-content: center;
  padding: 0 16px;
}

.nav {
  width: 100%;
  max-width: 900px;
  height: 74px;

  background: var(--color-white);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 0 24px;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;

  /* box-shadow: 0 8px 24px rgba(0, 0, 0, 0.06); */
}

.corner {
  width: 20px;
  height: 20px;
  pointer-events: none;
}

.cornerLeft {
  transform: rotate(-180deg);
}

.cornerRight {
  transform: rotate(90deg);
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.right {
  justify-content: flex-end;
}

.link {
  font-size: 14px;
  color: var(--color-grey-dark);
  text-decoration: none;
}

.link:hover {
  background-color: var(--color-grey-dark);
}

.logo {
  font-size: 16px;
  font-weight: 600;
}

.cta {
  background: var(--color-status-success);
  color: var(--color-white);
  padding: 8px 14px;
  border-radius: 9999px;
  font-size: 14px;
  text-decoration: none;
  white-space: nowrap;
}
