.pageLayout {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  padding-top: 100px;
  background: var(--color-page-bg-1);
}

.pageLayoutCenter {
  flex-direction: column;
}

.sidebarSlot,
.contentSlot {
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.contentSlot {
  width: 445px;
}

.pageLayout[data-bg="page-bg-1"] {
  background: var(--color-page-bg-1);
}

.pageLayout[data-bg="page-bg-2"] {
  background: var(--color-page-bg-2);
}

.pageLayout[data-bg="page-bg-3"] {
  background: var(--color-page-bg-3);
}

.pageLayout[data-bg="page-bg-4"] {
  background: var(--color-page-bg-4);
}

.pageLayout[data-bg="page-bg-5"] {
  background: var(--color-page-bg-5);
}

.pageLayout[data-bg="page-bg-6"] {
  background: var(--color-page-bg-6);
}
