:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #3b82f6;

  --color-lighter-grey: #f3f3f3;
  --color-light-grey: #dcdcdc;
  --color-bluish-grey: #9ca3af;
  --color-mid-grey: #6b7280;
  --color-dark-grey: #515151;
  --color-darker-grey: #2d2d2d;
  --color-darkest-grey: #111111;

  --color-forest-green: #173404;
  --color-faint-lime-green: #ecf1e6;
  --color-light-lime-green: #d8edc6;
  --color-lime-green: #e4f2d8;
  --color-grass-green: #97c459;

  --color-danger: #e05252;
  --color-success: #249652;
  --color-yellow: #ef9f27;
  --color-purple: #6366f1;

  /* Page background palette */
  --color-editor-page-bg-1: #e8e8e6;
  --color-editor-page-bg-2: #f4f9f2;
  --color-editor-page-bg-3: #fefce8;
  --color-editor-page-bg-4: #eff6ff;
  --color-editor-page-bg-5: #fdf2ff;
  --color-editor-page-bg-6: #fef2f2;
  --color-editor-page-bg-7: #f5f3ff;
  --color-editor-page-bg-8: #f0fdfa;
  --color-editor-page-bg-9: #fff7ed;

  /* Page avatar background  */
  --color-editor-page-avatar-1: #a8a8a6;
  --color-editor-page-avatar-2: #b7c9ad;
  --color-editor-page-avatar-3: #d1c578;
  --color-editor-page-avatar-4: #a9c2e8;
  --color-editor-page-avatar-5: #cfa6d6;
  --color-editor-page-avatar-6: #e0a7a7;
  --color-editor-page-avatar-7: #a78bfa;
  --color-editor-page-avatar-8: #5eead4;
  --color-editor-page-avatar-9: #fdba74;

  --color-editor-page-bg-white: var(--color-white);
  --color-editor-page-avatar-white: #e5e7eb;

  /* Block background palette */
  --color-block-bg-white: #ffffff;
  --color-block-bg-light-grey: #f3f4f6;
  --color-block-bg-sky: #7dd3fc;
  --color-block-bg-blue: #3b82f6;
  --color-block-bg-indigo: #4f46e5;
  --color-block-bg-yellow: #fde047;
  --color-block-bg-orange: #f97316;
  --color-block-bg-red: #ef4444;

  --color-block-bg-dark-grey: #4b5563;
  --color-block-bg-black: #000000;
  --color-block-bg-lavender: #e0e7ff;
  --color-block-bg-purple: #a855f7;
  --color-block-bg-pink: #ec4899;
  --color-block-bg-mint: #ccfbf1;
  --color-block-bg-green: #22c55e;
  --color-block-bg-dark-green: #14532d;
}