:root {
  /* Brand */
  --color-brand-primary: #6366f1;
  --color-brand-accent: #22d3ee;

  /* Backgrounds */
  --color-bg-page: #020617;
  --color-bg-surface: #020617;
  --color-bg-elevated: #020617;

  /* Text */
  --color-text-primary: #000000;
  --color-text-secondary: #0e220e;
  --color-text-inverse-primary: #e5e7eb;
  --color-text-inverse-secondary: #9ca3af;


  /* Status */
  --color-status-error: #ef4444;
  --color-status-success: #4caf50;
  --color-status-warning: #f59e0b;

  /* Base */
  --color-white: #ffffff;
  --color-black: #000000;
  --color-grey-light: #f3f4f6;
  --color-grey-dark: #333333;
}
