@import "@styles/media.css";

.canvas {
  width: var(--layout-content-max);
  max-width: 100%;
  position: relative;
}

.mobileCanvasWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
}

@media (--bp-mobile) {
  .canvas {
    width: 100%;
  }
}
